root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space

[src/**.{ts,json,js}]
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4

[webpack.*.js]
indent_size = 2

[package.json]
indent_size = 2

[tsconfig.json]
indent_size = 2
